#DATA TYPE AND STRUCTURE


Q1 = What are data structures, and why are they important ?

   => they help in storing the data in organized way and help to manage the data efficiently.

   IMPORTANCE: efficient in data managemtrnt


Q2 = Explain the difference between mutable and immutable data types with examples

   => mutable data type cn be modified wheras imutable data type cannot be modified

   exaple: tuple cannot be modified so they are immuatable and list can be modified so they are mutable  

Q3 = What are the main differences between lists and tuples in Python?
   
   =>the main diffrence between tuple and list is that list can be modified but tuple can not.

Q4 = Describe how dictionaries store data?

  =>Dictionaries store data as key-value pairs. Each key is unique.

Q5 =  Why might you use a set instead of a list in Python?

   =>A set automatically removes duplicate items, while a list allows duplicates

Q6 = What is a string in Python, and how is it different from a list.

   => string is a sequence of character while list is a collection of ordered and mutable item

Q7 =  How do tuples ensure data integrity in Python ?

  => Tuples ensure data integrity in Python by being immutable. meaning their value can't be changed after creation .


Q8 = What is a hash table, and how does it relate to dictionaries in Python?

  =>A hash table that maps keys to values using a hashing function, and Python dictionaries are built on hash tables.

Q9 = Can lists contain different data types in Python ?
  
  =>yes.

Q10 => Explain why strings are immutable in Python?

   =>becouse it enhance performance, memory efficiency, and security.

Q11 => What advantages do dictionaries offer over lists for certain tasks?

   => Dictionaries offer faster lookups and data retrieval for key-based access.

Q12 => Describe a scenario where using a tuple would be preferable over a list?

  =>when we store a fixed collection of items that should not be modified then we use tuple over list like user's phone number,etc

Q13 =>  How do sets handle duplicate values in Python?

  =>Sets automatically remove duplicates by storing only unique values.

Q14 =>How does the “in” keyword work differently for lists and dictionaries?

  =>In lists, the "in" keyword checks if a value is present and for
   dictionaries it checks if a key exists in the dictionary.

Q15 => Can you modify the elements of a tuple? Explain why or why not?

  =>no , becouse it is imutable.

Q16 => What is a nested dictionary, and give an example of its use case?

  => it is a type of dictionary where the values are themselves dictionaries, often used to represent hierarchical data like a contact book with multiple details for each contact.

Q17 =>Describe the time complexity of accessing elements in a dictionary?

  => O(1)

Q18 => In what situations are lists preferred over dictionaries

  =>when u need ordered collection of items with indexed access and don't require key-value pair mapping.

Q19 => Why are dictionaries considered unordered, and how does that affect data retrieval?


  =>Dictionaries are considered unordered because their elements are stored based on hash values, which means the order of key-value pairs is not guaranteed, but data retrieval is still efficient via key-based access.


Q20 =>Explain the difference between a list and a dictionary in terms of data retrieval

  =>A list retrieves data by index position, while a dictionary retrieves data by key.

In [ ]:
#Q1=>  Write a code to create a string with your name and print it

"""
name = "rudra"
print(name)

"""

In [3]:
#Q2 => Write a code to find the length of the string "Hello World"
"""
a="hello world"
length =len(a)
print(length)
"""

11

In [4]:
#Q3 =>  Write a code to slice the first 3 characters from the string "Python Programming"
'''
a = "python programming"
s=a[0:3]
print(s)
'''

pyt

In [6]:
# Q4 => Write a code to convert the string "hello" to uppercase
'''
a ="hello"
u_c=a.upper()
print(u_c)
'''

HELLO

In [7]:
# Q5 => Write a code to replace the word "apple" with "orange" in the string "I like apple"
''''
a="I like apple"
rep=a.replace("apple","orange")
print(rep)
'''

I like orange

In [8]:
#  Q6 =>Write a code to create a list with numbers 1 to 5 and print it
'''
a=[1,2,3,4,5]
print(a)
'''

[1, 2, 3, 4, 5]

In [15]:
#  Q7 => Write a code to append the number 10 to the list [1, 2, 3, 4]
'''
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)
'''

[1, 2, 3, 4, 10]

In [16]:
#  Q8 => Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
'''
list = [1,2,3,4,5]
list.remove(3)
print(list)
'''

[1, 2, 4, 5]

In [17]:
# Q9 => Write a code to access the second element in the list ['a', 'b', 'c', 'd']
'''
list =['a','b','c','d']
print(list[1])
'''

b

In [19]:
# Q10=> Write a code to reverse the list [10, 20, 30, 40, 50].
'''
list =[10,20,30,40,50]
list.reverse()
print(list)
'''

[50, 40, 30, 20, 10]

In [ ]:
# Q11. Write a code to create a tuple with the elements 10, 20, 30 and print it.
'''
tuple=(10,20,30)
print(tuple)
'''

In [ ]:
# Q12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

tuple=('apple','banana','cherry')
print(tuple[0])

In [ ]:

# Q13 => Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

'''
tuple=(1,2,3,2,4,2)
print(tuple.count(2))
'''

In [20]:

#  Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
'''
tuple = ('dog', 'cat', 'rabbit')
print(tuple.index('cat'))
'''

1

In [21]:
# Q15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
'''
ele = ('apple', 'orange', 'banana')
print('banana' in ele)
'''

True

In [ ]:
# Q16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
'''
set ={1,2,3,4,5}
print(set)
'''

In [25]:

# Q17. Write a code to add the element 6 to the set {1, 2, 3, 4}.
'''
set = {1,2,3,4}
set.add(6)
print(set)
'''

{1, 2, 3, 4, 6}

In [ ]:

# Q18. Write a code to create a tuple with the elements 10, 20, 30 and print it.
'''
tuple=(10,20,30)
print(tuple)
'''

In [ ]:

#  Q19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
'''
tuple = ('apple', 'banana', 'cherry')
print(tuple[0])
'''

In [ ]:

# Q20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
'''
 tuple = (1, 2, 3, 2, 4, 2)
print(tuple.count(2))
'''

In [ ]:

# Q21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
'''
tuple = ('dog', 'cat', 'rabbit')
print(tuple.index('cat'))
'''

In [ ]:

# Q22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
'''
tuple = ('apple', 'orange', 'banana')
print('banana' in tuple)
'''

In [ ]:

#  Q23.   Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
'''
set = {1, 2, 3, 4, 5}
print(set)
'''

In [26]:

#  Q24. Write a code to add the element 6 to the set {1, 2, 3, 4}.
'''
set={1,2,3,4}
set.add(6)
print(set)
'''

{1, 2, 3, 4, 6}